{% extends 'public/layout.njk' %}

{% block head %}

    <title>Foodfy | Recipes</title>
    <link rel="stylesheet" href="/styles/recipes.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock%}

{% block filter %}

    <form action="/recipes" method="GET">
        <input 
            type="text" 
            name="filter" 
            placeholder="Find a recipe"
            value={{filter}}
        >
        <button type="submit">
            <span class="material-icons">search</span>
        </button>
    </form>

{% endblock %}

{% block content %}

    <main id="content">
        
        <section id="recipes">

            {% for recipe in recipes  %}
                <div class="recipe">
                    <div class="recipe-image-container">
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="recipe-info">
                        <div>
                            <h1 class="recipe-name">{{ recipe.title }}</h1>
                            <p class="chef">by {{ recipe.chef_name }}</p>
                        </div>
                        <a href="/recipes/{{ recipe.id }}">View</a>
                    </div>
                </div>
            {% endfor %}

        </section>
    </main>

{% endblock %}
