{% extends 'admin/layout.njk' %}

{% block head %}

    <title>Foodfy | New chef</title>
    <link rel="stylesheet" href="/styles/admin_fields.css">

{% endblock %}

{% block content %}

    <main id="content">

        <form action="/admin/chefs" method="POST">

            <section class="title">
                <h2>New chef</h2>
                <button class="save" type="submit">Save chef</button>
            </section>

            {% include 'admin/chefs/fields.njk' %}

        </form>

    </main>

    <script src="/scripts/admin_create.js"></script>

{% endblock %}