{% extends 'admin/layout.njk' %}

{% block head %}

    <title>Foodfy | Edit chef</title>
    <link rel="stylesheet" href="/styles/admin_fields.css">

{% endblock %}

{% block content %}

    <main id="content">

        <form action="/admin/chefs?_method=PUT" method="POST">

            <section class="title">

                <h2>Edit chef</h2>

                <div class="buttons">
                    <button class="delete" type="submit" form="form-delete">Delete</button>
                    <button class="save" type="submit">Save chef</button>
                </div>
                
            </section>
   
            {% include 'admin/chefs/fields.njk' %}

            <input 
                type="hidden" 
                name="id" 
                value="{{ chef.id }}"
            >

        </form>

        <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
        
            <input 
                type="hidden" 
                name="id" 
                value="{{ chef.id }}"
            >

        </form>

    </main>

    <script>

        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function(event) {
            const confirmation = confirm("Are you sure you want to delete?")
            if(!confirmation) {
                event.preventDefault()
            }
        })

    </script>

{% endblock %}