{% extends 'admin/layout.njk' %}

{% block head %}

    <title>Foodfy | Manage recipes</title>
    <link rel="stylesheet" href="/styles/admin_index.css">
    <link rel="stylesheet" href="/styles/admin_recipes.css">

{% endblock%}

{% block content %}

    <main id="content">

        <div id="manage-recipes">
            <h2>Manage recipes</h2>
        </div>
        
        <section id="recipes">

            {% for recipe in recipes %}
                <div class="recipe">
                    <div class="recipe-image-container">
                        <img src="{{ recipe.image_png }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="recipe-info">
                        <h1 class="recipe-name">{{ recipe.title }}</h1>
                        <h2 class="chef">by {{ recipe.author }}</h2>
                        <p>View</p>
                    </div>
                </div>
            {% endfor %}

        </section>
    </main>

    <script src="/scripts/admin_recipes.js"></script>

{% endblock %}
