{% extends 'layout.njk' %}

{% block head %}

    <title>Foodfy | About</title>
    <link rel="stylesheet" href="/styles/about.css">

{% endblock %}
    
{% block content %}

    <main id="content">
        <section>
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quod dicta ipsum quis odio doloremque, repellendus numquam neque ullam minus. Vel quaerat explicabo voluptate minima possimus. Nostrum cumque omnis accusantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi sapiente, est ipsum delectus dignissimos nihil quis, explicabo iusto qui vel dolore veniam nobis voluptatibus assumenda adipisci quas maxime. Eaque, iusto?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vel nihil earum, minus unde laudantium mollitia possimus a perferendis dicta quibusdam, culpa accusamus ducimus beatae sed ratione accusantium ab quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, quae at. Totam, ipsa quas pariatur recusandae nostrum perspiciatis quam obcaecati facilis quod illo, voluptas saepe enim odio accusantium, doloremque exercitationem.</p>
        </section>
        <section>
            <h2>It all began...</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero nihil esse ea? Voluptatibus eaque, ipsum nobis vero at fuga nemo? Nisi ipsam omnis molestias ab esse harum eaque tempora perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum incidunt culpa impedit illum illo harum porro vel adipisci qui velit quisquam, dicta tempora at veritatis voluptate iste voluptatem perspiciatis dolor!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sunt tempore magni assumenda exercitationem deserunt illum recusandae. Iste voluptate odio laudantium tempore a asperiores, maiores quam ut aliquam et repellendus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda impedit quae adipisci dicta ratione quos facere veniam, aut sequi nulla enim quibusdam odio tempore dolore placeat ullam doloremque dolores illum!</p>
        </section>
        <section>
            <h2>Our recipes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi optio quam quisquam, odio assumenda delectus accusamus. Nisi iusto odit voluptatibus, neque quos illum nulla. Optio eius ex tempora saepe error? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repudiandae commodi at aperiam qui ea quia quos nobis molestias sequi esse laboriosam explicabo soluta, cumque hic magnam, similique dolor quam.</p>
        </section>
    </main>

{% endblock %}

</html>