{% extends 'layout.njk' %}

{% block head %}

    <title>Foodfy | Not-found</title>
    <link rel="stylesheet" href="/styles/not-found.css">

{% endblock %}

{% block content %}

    <main id="content">
        <img src="/assets/tomato-splat.png" class="tomato-splat" alt="tomato splat">
        <div class="error-message">
            <h1>OOPS!</h1>
            <h2>404 Error</h2>
            <p>There seems to be a problem with that page.</p>
        </div>
    </main>

{% endblock %}