@charset "UTF-8";

#content h1 {
    color: var(--medium-black);
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#content h2 {
    color: var(--medium-black);
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#content p {
    color: var(--darker-grey);
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
    margin-bottom: 30px;
}