@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

#aboutus h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    margin-bottom: 20px;
}

#aboutus h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    margin-bottom: 20px;
}

#aboutus p {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}