@charset "UTF-8";

#content h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--medium-black);
    margin-bottom: 20px;
}

#content h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--medium-black);
    margin-bottom: 20px;
}

#content p {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--darker-grey);
    line-height: 28px;
    margin-bottom: 30px;
}