@charset "UTF-8";

/*== TITLE ==*/

#manage-recipes h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}

/*== RECIPES ==*/

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.recipe-image-container img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.recipe-info h1 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: normal;
    text-align: left;
}

.recipe-info h2 {
    color: var(--dark-grey);
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}

.recipe-info a {
    color: var(--medium-purple);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6px;
    text-decoration: none;
}