@charset "UTF-8";

/*== TITLE ==*/

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
}

.title a {
    max-width: 136px;
    width: 100%;
    height: 37px;

    background-color: var(--medium-purple);
    border-radius: 4px;
    padding: 9px 20px;

    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}


/*== INTRO ==*/

.recipe-image-intro img {
    max-width: 940px;
    max-height: 280px;
    width: 100%;
    border-radius: 15px;
}

.recipe-details {
    margin: 30px 0 50px 0;
}

.recipe-details h1 {
    color: var(--medium-black);
    font-size: 3.6rem;
    line-height: 4.2rem;
    font-weight: bold;
    text-align: center;
}

.recipe-details p {
    color: var(--dark-grey);
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    margin-top: 4px;
}

/*== INGREDIENTS, PREPARATION, TIPS ==*/

.recipe h2 {
    color: var(--medium-black);
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-bottom: 19px;
}

.recipe-ingredients,
.recipe-preparation {
    margin-bottom: 41px;
}

.recipe-ingredients li,
.recipe-preparation li {
    color: var(--darker-grey);
    font-size: 1.8rem;
    line-height: 2.8rem;
    list-style-position: inside;
    padding: 8px;
}

.recipe-tips p {
    color: var(--darker-grey);
    font-size: 1.8rem;
    line-height: 2.8rem;
}
