@charset "UTF-8";

/*== TITLE ==*/

.title {
    display: flex;
    justify-content: space-between;
}

.title h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
}

.title button {
    border-radius: 4px;
    padding: 9px 20px;

    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;

    cursor: pointer;
}

.title button.delete {
    background-color: #DC4747;
    margin-right: 10px;
}

.title button.save {
    background-color: var(--medium-purple);
}

/*== FORM ==*/

.item {
    margin-top: 30px;
}

.item div:nth-child(1) {
    color: var(--medium-black);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;

    margin-bottom: 10px;
}

input,
select {
    width: 100%;
    min-height: 49px;

    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 15px 20px;
    margin-bottom: 10px;

    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: normal;
}

button[type="button"] {
    color: var(--medium-purple);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;

    background-color: #FFFFFF;
    margin-top: 10px;

    cursor: pointer;
}
