@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

:root {
    --medium-black: #111111;
    --light-grey: #EEEEEE;
    --medium-grey: #999999;
    --dark-grey: #777777;
    --darker-grey: #444444;
    --light-pink: #FBDFDB;
    --medium-purple: #6558C3;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--medium-black);
    font-size: 1.6rem;
    text-align: justify;
}

#content {
    background-color: white;
    width: 90%;
    max-width: 940px;
    min-height: 650px;
    margin: 50px auto;
}

/*== MENU ==*/

#navigation {
    width: 100%;
    padding: 50px 0 50px;
    background-color: var(--medium-black);
}

#logo {
    font-family: 'Judson', serif;
    color: #FFFFFF;
    margin-left: 22.2vw;
    font-size: 3rem;
    line-height: 3.3rem;
    letter-spacing: 0.165rem;
    text-decoration: none;
}

#logo:hover {
    font-weight: bold;
    transition: 0.5s;
}

/*== FOOTER ==*/

footer {
    background: var(--light-grey);
    width: 100%;
    height: 62px;
}

footer p {
    color: var(--medium-grey);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 23px;
}