@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*== INTRO ==*/

#intro {
    background: url('../assets/chef.png') no-repeat;
    background-position: 90% 100%;
    background-color: #FBDFDB;
    height: 366px;
    border-radius: 30px;

    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

#intro hgroup {
    margin: 117px 60px;
}

#intro h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 10px;
}

#intro h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    max-width: 350px;
    opacity: 0.7;
    color: #000000;
}

/*== RECIPES ==*/

#pop-recipes h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.recipe-image-container img {
    width: 100%;
    height: 68%;
    border-radius: 15px;
}

.recipe-info h1 {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin-top: 20px;
}

.recipe-info p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #777777;
}
