@charset "UTF-8";

/*== INTRO ==*/

#intro {
    background: url('../assets/chef.png') no-repeat;
    background-position: 90% 100%;
    background-color: var(--light-pink);
    height: 366px;
    border-radius: 30px;

    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

#intro hgroup {
    margin: 117px 60px;
}

#intro h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#intro h2 {
    color: black;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: normal;
    max-width: 350px;
    opacity: 0.7;
}

#pop-recipes h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}
