@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

:root {
    --medium-black: #111111;
    --light-grey: #EEEEEE;
    --medium-grey: #999999;
    --dark-grey: #777777;
    --darker-grey: #444444;
    --light-pink: #FBDFDB;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--medium-black);
    text-align: justify;

    margin: 0;
    border: 0;
    padding: 0;
}

#content {
    background-color: white;
    width: 90%;
    max-width: 940px;
    min-height: 650px;
    margin: 50px auto;
}

/*== MENU ==*/

#navigation {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    max-width: 940px;
    margin: 50px auto 0;
}

#logo {
    font-family: 'Judson', serif;
    color: var(--medium-black);
    font-size: 30px;
    line-height: 33px;
    padding-right: 5vw;
    letter-spacing: 1.65px;
    text-decoration: none;
}

#menu a {
    color: var(--medium-black);
    font-size: 16px;
    line-height: 19px;
    padding-left: 30px;
    text-decoration: none;
}

#logo:hover {
    font-weight: bold;
    transition: 0.5s;
}

#menu a:hover {
    font-weight: bold;
    transition: 0.5s;
}

/*== FOOTER ==*/

footer {
    background: var(--light-grey);
    width: 100%;
    height: 62px;
}

footer p {
    color: var(--medium-grey);
    font-size: 14px;
    text-align: center;
    padding-top: 23px;
}