@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #111111;

    margin: 0;
    border: 0;
    padding: 0;
}

#content {
    background-color: white;
    width: 90%;
    max-width: 940px;
    margin: 50px auto 0px auto;
}

/*== MENU ==*/

header#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    margin-bottom: 50px;
}

a#logo {
    font-family: 'Judson', serif;
    font-size: 30px;
    color: #111111;
    letter-spacing: 1.65px;
    text-decoration: none;
}

nav#menu a {
    font-size: 16px;
    line-height: 19px;
    padding-left: 30px;
    color: #111111;
    text-decoration: none;
}

a#logo:hover {
    font-weight: bold;
    font-size: 32px;
    transition: 0.5s;
}

nav#menu a:hover {
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
}

/*== FOOTER ==*/

footer {
    width: 100%;
    height: 62px;
    background: #EEEEEE;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 23px;
}