@charset "UTF-8";

img {
    display: block;
    margin: 80px auto 0;
    max-width: 450px;
}

h1 {
    color: var(--medium-black);
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding: 20px;
}

h2 {
    color: var(--darker-grey);
    font-size: 24px;
    line-height: 34px;
    text-align: center;
}

p {
    color: var(--dark-grey);
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}