@charset "UTF-8";

.tomato-splat {
    display: block;
    margin: 80px auto 0;
    max-width: 450px;
}

.error-message h1 {
    color: var(--medium-black);
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    padding: 20px;
}

.error-message h2 {
    color: var(--darker-grey);
    font-size: 2.4rem;
    line-height: 3.4rem;
    text-align: center;
}

.error-message p {
    color: var(--dark-grey);
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
}