@charset "UTF-8";

/*== INTRO ==*/

.recipe-image-container img {
    max-width: 940px;
    max-height: 280px;
    width: 100%;
    border-radius: 15px;
}

.recipe-info {
    margin: 50px 0;
}

.recipe-info h1 {
    color: var(--medium-black);
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
}

.recipe-info p {
    color: var(--dark-grey);
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 4px;
}

/*== INGREDIENTS, PREPARATION, TIPS ==*/

.recipe-ingredients,
.recipe-preparation,
.recipe-tips {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
        'title switch'
        'text text'
    ;
}

.recipe h2 {
    color: var(--medium-black);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    grid-area: title;
}

.recipe-ingredients ul,
.recipe-preparation ol {
    grid-area: text;
}

.recipe-ingredients li,
.recipe-preparation li {
    color: var(--darker-grey);
    font-size: 18px;
    line-height: 28px;
    list-style-position: inside;
    padding: 8px;
}

.recipe-tips p {
    color: var(--darker-grey);
    font-size: 18px;
    line-height: 28px;
    grid-area: text;
}

/*== TOGGLE SWITCH ==*/

.toggle {
    grid-area: switch;
}

.switch {
    width: 0;
    height: 0;
    visibility: hidden;
}

.label-switch {
    background-color: #ccc;
    width: 52px;
    height: 27px;
    border-radius: 100px;
    display: inline-flex;
    position: relative;
    cursor: pointer;
}

.ball {
    background-color: white;
    width: 20px;
    height: 20px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
}

.switch:checked + .label-switch {
    background-color: var(--light-pink);
}

.switch:checked + .label-switch .ball {
    left: 7px;
    transform: translateX(20px);
}
