@charset "UTF-8";

/*== RECIPES ==*/

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.recipe-image-container img {
    width: 100%;
    height: 68%;
    border-radius: 15px;
}

.recipe-info h1 {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin-top: 20px;
}

.recipe-info p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: var(--dark-grey);
}

.recipe:hover {
    transform: scale(1.1);
    cursor: pointer;
}
