@charset "UTF-8";

/*== RECIPES ==*/

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.recipe-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.recipe-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.recipe-info h1 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: normal;
    margin-top: 20px;
}

.recipe-info p {
    color: var(--dark-grey);
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: normal;
    margin-top: 5px;
    cursor: pointer;
}

.recipe-info a {
    color: var(--medium-purple);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.1rem;
    text-decoration: none;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}

/*== FILTER ==*/

form {
    display: flex;
    align-items: center;
}

form input {
    font-size: 1.4rem;
    line-height: 1.6rem;

    height: 37px;
    width: 246px;
    padding: 15px;

    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

form button {
    background-color: var(--medium-purple);
    height: 37px;
    border-radius: 4px;

    padding: 4px;
    margin-left: 8px;
    cursor: pointer;
}