@media (max-width:450px){

    /*== HOME ==*/

    #intro {
        height: 600px;
    }

    /*== RECIPES ==*/
    
    #intro hgroup {
        margin: 100px 45px;
    }

    #recipes {
        display: grid;
        grid-template-columns: 1fr;
    }

    /*== NOT-FOUND ==*/

    img {
        margin: 50px auto 0;
        max-width: 300px;
    }    
}

@media (min-width:450px) and (max-width: 800px){

    #content {
        max-width: 500px;
    }
    
    /*== HOME ==*/

    #intro {
        height: 550px;
    }
    
    #intro hgroup {
        margin: 100px 45px;
    }

    /*== RECIPES ==*/

    #recipes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}