@media (max-width:450px){

    /*== HOME ==*/

    #intro {
        height: 600px;
    }

    /*== RECIPES ==*/
    
    #intro hgroup {
        margin: 100px 45px;
    }

    #recipes {
        display: grid;
        grid-template-columns: 1fr;
    }

    /*== MODAL ==*/

    .modal {
        background-color: white;
        border-radius: 16px;
        max-width: 46vh;
        max-height: 46vh;
        width: 100%;
        height: 100%;
        margin: 30vh auto;
        position: relative;
    }

    .modal-content {
        position: absolute;
        max-width: 42vh;
        max-height: 42vh;
        width: 100%;
        height: 100%;
        margin: 2vh;
    }

    .modal-content img {
        max-width: 42vh;
        max-height: 26vh;
        width: 100%;
        height: 100%;
    }

    .modal-content h1 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .modal-content p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 2.5vh;
    }
    
    .close-modal {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width:450px) and (max-width: 800px){

    #content {
        max-width: 500px;
    }
    
    /*== HOME ==*/

    #intro {
        height: 550px;
    }
    
    #intro hgroup {
        margin: 100px 45px;
    }

    /*== RECIPES ==*/

    #recipes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*== MODAL ==*/

    .modal {
        background-color: white;
        border-radius: 16px;
        max-width: 56vh;
        max-height: 34vh;
        width: 100%;
        height: 100%;
        margin: 35vh auto;
        position: relative;
    }

    .modal-content {
        position: absolute;
        max-width: 52vh;
        max-height: 30vh;
        width: 100%;
        height: 100%;
        margin: 2vh;
    }

    .modal-content img {
        max-width: 52vh;
        max-height: 16vh;
        width: 100%;
        height: 100%;
    }

    .modal-content h1 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .modal-content p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 2.5vh;
    }
    
    .close-modal {
        font-size: 14px;
        line-height: 20px;
    }
}